<h1>List all users</h1>

<%= link_to 'New user', new_user_path %>

<tr>
	<th>Last Name</th>
	<th>First Name</th>
	<th>Email</th>
	<th>Show</th>
	<th>Edit</th>
	<th>Privilege Levels</th>
	<th>Delete</th>
</tr>

<%= render @users %>
