<tr><th style="font-size:20px;">CPR and First Aid @ Rensselaer Polytechnic Institute</td></tr>
<tr><td>This site is your one-stop resource for CPR, AED and First Aid resources on the RPI Campus. You can find out what classes are being offered, how to perform Hands Only CPR, how to use an AED, where AEDs are located on campus and more. Check out the video below for a brief introduction regarding everything available to members of the RPI Community.</td></tr>
<tr align="center"><td><%=image_tag("placeholder.jpg", height: '360', width: '640') %></td></tr>
<tr><th style="font-size:20px;">Upcoming Classes at a Glance</td></tr>

<%= render(partial: "course", collection: @courses) || content_tag(:tr, content_tag(:td, "There are no upcoming classes at this time.")) %>
