<tr><th colspan="3" style="font-size:20px;">Additional Information and Contacts<br><br></td></tr>
<tr>
<td><b>RPI Ambulance Training Information</b><br><br>Alli Morgan<br><br><a href="mailto:cpr@rpiambulance.com?Subject=RPI CPR Contact">cpr@rpiambulance.com</a><br><br><br><br></td>
<td><b>Public Safety Training Information</b><br><br>Dave Jordan<br><br><a href="mailto:cpr@rpiambulance.com?Subject=RPI CPR Contact">jordad@rpi.edu</a><br><br><br><br></td>
<td><b>Mueller Center Training Information</b><br><br>Joe Campo<br><br><a href="mailto:cpr@rpiambulance.com?Subject=RPI CPR Contact">campoj@rpi.edu</a><br><br><br><br></td>
</tr>
<tr>
<td><b>RPI Student Health Center</b><br><br>(518) 276-6287<br><br><a href="http://studenthealth.rpi.edu">studenthealth.rpi.edu</a><br><br><br><br></td>
<td><b>Suicide Prevention Lifeline</b><br><br>(800) 273-TALK<br><br><a href="http://www.suicidepreventionlifeline.org">suicidepreventionlifeline.org</a><br><br><br><br></td>
<td><b>Poison Control Center</b><br><br>(800) 222-1222<br><br><a href="http://www.aapcc.org">aapcc.org</a><br><br><br><br></td>
</tr>
<tr>
<td><b>American Heart Association</b><br><br>(800) 242-8721<br><br><a href="http://heart.org">heart.org</a></td>
<td><b>American Red Cross</b><br><br>(800) 733-2767<br><br><a href="http://redcross.org">redcross.org</a></td>
<td><b>National Safety Council</b><br><br>(800) 621-7615<br><br><a href="http://nsc.org">nsc.org</a></td>
</tr>