<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @privilege_level.name %>
</p>

<%= link_to 'Edit', edit_privilege_level_path(@privilege_level) %> |
<%= link_to 'Back', privilege_levels_path %>
